---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/index/Hero.astro';
import About from '../components/index/About.astro';
import HowItWorks from '../components/index/HowItWorks.astro';
import GetStarted from '../components/index/GetStarted.astro';

---

<BaseLayout>
	<main>
		<Hero />
		<About />
        <HowItWorks />
		<GetStarted />
        
	</main>
</BaseLayout>

<style>

</style>
