---
import BaseLayout from "../layouts/BaseLayout.astro";
const posts = await Astro.glob('./learn/*.md');

---

<BaseLayout>
<main>
    <section class="section">
        <h1>Bem-vindo ao Blog!</h1>

        <ul class="post-list">
            {posts.map(post => (
                <li>
                    <a class="post-link" href={post.url}>{post.frontmatter.title}</a>
                </li>
            ))}
        </ul>
    </section>
</main>
</BaseLayout>

<style>
    .section{
        min-height: 90vh;
        padding: 10% 0;
        display: flex;
        flex-direction: column;

        gap: 32px;
    }

    h1{
        text-align: center;
        font-size: 3rem;
    }

    .post-list{
        list-style: none;
        
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-content: center;
    }

    .post-link{
        font-size: 1.5rem;
        text-decoration: none;
        
        background-color: #f1f1f1;
        color: inherit;
        padding: 16px 32px;
        display: inline-block;
        border-radius: 16px;
    }
</style>