<footer class="footer">
    <p>Criado por <a href="https://github.com/caioabrahao">Caio Abrahão</a></p>
    
</footer>

<style>
    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        background-color: #f9f9f9;
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    }
    p{
        font-size: 1rem;
    }
</style>