<header class="header">
    <p class="logo">101EXP</p>
    <div class="links">
        <nav class="nav">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/participate">Participar</a></li>
                <li><a href="/learn">Aprender</a></li>
                <li><a href="/ideas">Ideias (Beta)</a></li>
                <li><a href="/submitted-projects">Projetos Enviados</a></li>
            </ul>
        </nav>

        <hr>

        
        
        <div class="socials">
            <a href="https://discord.gg/C9z6A9Dt9B"> <i class="ri-discord-fill"></i></a>
        </div>
    </div>
    
</header>

<style>
    hr{
        height: 32px;
        border: none;
        border-left: 1px solid #333;
        opacity: .5;
    }

    i{
        font-size: 1.5rem;
    }

    .header{
        position: fixed;
        width: 100vw;
        height: 8vh;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 96px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .links{
        display: flex;
        gap: 32px;
        align-items: center;
    }

    .logo{
        font-size: 1.5rem;
    }
    .nav ul{
        display: flex;
        gap: 32px;
        list-style: none;
    }
    .nav a{
        text-decoration: none;
        color: #333;
    }
    .nav a:hover{
        color: #000;
    }

    .socials a{
        text-decoration: none;
        color: #333;
    }
    .socials a:hover{
        color: #000;
    }

    .nav a.active {
        font-weight: bold;
    }
    
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const currentLocation = location.href;
        const menuItem = document.querySelectorAll('.nav ul li a');
        const menuLength = menuItem.length;
        for (let i = 0; i < menuLength; i++) {
            if ((menuItem[i] as HTMLAnchorElement).href === currentLocation) {
                menuItem[i].className = "active";
            }
        }
    });
</script>