<section class="about">
    <h2>What is 101 Experiments?</h2>
    <p>101 Experiments is a personal and collaborative challenge where you create, document, and showcase 101 unique experiments in fields you’re passionate about. Whether it’s programming, web development, design, or creative projects, the goal is to learn, have fun, and push your boundaries.</p>
</section>

<style>
    .about{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	height: 100vh;
}
.about p{
	width: 50%;
}

</style>