<section class="get-started">
    <div class="text">
        <h2>Get started today!</h2>
        <p>Use one of these starter templates to quickly set up your personal <strong>101 Experiments</strong> page:</p>
    </div>
    
    <div class="template-links">
        <div class="template-card">
            <img class="framework-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg" />
            <h3>Astro</h3>
            <a class="disabled" href="#">Available Soon</a>
        </div>

        <div class="template-card">
            <img class="framework-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg" />
            <h3>Vue</h3>
            <a class="disabled" href="#">Available Soon</a>
        </div>

        <div class="template-card">
            <img class="framework-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" />
            <h3>React</h3>
            <a class="disabled" href="#">Available Soon</a>
        </div>

        <div class="template-card">
            <img class="framework-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />
            <h3>Vanilla JS</h3>
            <a class="disabled" href="#">Available Soon</a>
        </div>

        <div class="template-card">
            <img class="framework-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/hugo/hugo-original.svg" />
            <h3>HUGO</h3>
            <a class="disabled" href="#">Available Soon</a>
        </div>

    </div>

    <p class="secondary-text"><i>All templates, by default, use Vite for bundling and routing.</i></p>
    <div class="buttons">
        <a class="btn-primary" href="#">Getting started Guide</a>
        <a class="btn-secondary" href="#">Which one to chose?</a>
    </div>
</section>

<style>
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-started{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 16px;

height: 90vh;
}
.template-links{
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}
.template-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 8px;

    h3{
        margin-top: 8px;
    }

    transition: background-color 0.2s;
}
.template-card:hover{
    background-color: #dbdbdb;
}

.framework-icon{
	width: 64px;
	height: 64px;
}

.buttons{
    display: flex;
    gap: 16px;
}

</style>