<section class="get-started">
    <h2>Get started today!</h2>
    <p>Use one of these starter templates to quickly set up your personal <strong>101 Experiments</strong> page:</p>
    <div class="template-links">
        <div class="template-card">
            <img class="framework-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg" />
            <h3>Astro</h3>
            <a class="btn-minimal" href="#">USE ASTRO TEMPLATE</a>
        </div>

        <div class="template-card">
            <img class="framework-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg" />
            <h3>Vue</h3>
            <a class="btn-minimal" href="#">USE VUE TEMPLATE</a>
        </div>

        <div class="template-card">
            <img class="framework-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />
            <h3>Vanilla JS</h3>
            <a class="btn-minimal" href="#">USE VANILLA TEMPLATE</a>
        </div>
    </div>
    <a class="btn-primary" href="#">GET YOUR FIRST EXPERIMENT!</a>
</section>

<style>
    .get-started{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    gap: 32px;

	height: 100vh;
}
.template-links{
    display: flex;
    gap: 32px;
}
.template-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.framework-icon{
	width: 64px;
	height: 64px;
}

</style>