<section class="hero">

    <div class="titles">
        <h1>101 EXPERIMENTS</h1>
        <div class="texts">
            <p>Construa um portfólio</p>
            <p>Aprenda uma nova habilidade</p>
            <p>Compartilhe com a comunidade</p>
        </div>
    </div>
    
    <a class="btn-primary" href="#">Me contaah maiss.. 💅</a>
    
    
</section>

<style>
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;

        height: 90vh;
        padding-top: 8vh;
    }
    .hero h1{
        font-size: 5rem;
        font-weight: 800;
    }

    .titles{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texts{
        opacity: .5;
        display: flex;
        gap: 32px;

        font-size: 1.25rem;
    }
</style>