---
import Card from '../Card.astro';

---

<section class="how-it-works">
    <h2>How It Works</h2>
        <div class="cards">
            <Card
            icon="ri-stack-line"
            title="Lay the Foundation" 
            description="Create your 101 Experiments page. This is where you’ll document and showcase all your experiments." 
            />

            <i class="ri-arrow-right-s-line"></i>

            <Card 
            icon="ri-lightbulb-flash-line"
            title="Generate the Idea" 
            description="Use the idea generator to get randomized, fun challenges tailored to your interests." 
            />

            <i class="ri-arrow-right-s-line"></i>

            <Card 
            icon="ri-share-box-line"
            title="Create and Share" 
            description="Build, design, or program your experiment, then share it with the community and document on your page!" 
            />
        </div>

        <a class="btn-primary" href="#">LEARN MORE</a>
</section>

<style>
    .how-it-works{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    gap: 32px;

	height: 80vh;
}
.cards{
	display: flex;
	gap: 32px;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 2rem;
    font-weight: 900;
}
</style>