---
import Card from '../Card.astro';

---

<section class="how-it-works">
    <h2>Como Funciona</h2>
        <div class="cards">
            <Card
            icon="ri-stack-line"
            title="Crie a Funda칞칚o" 
            description="Crie sua p치gina de 101 Experimentos. 칄 aqui que voc칡 documentar치 e exibir치 todos os seus experimentos." 
            />

            <i class="ri-arrow-right-s-line"></i>

            <Card 
            icon="ri-lightbulb-flash-line"
            title="Gere uma Ideia" 
            description="Use o gerador de ideias para obter desafios aleat칩rios e divertidos adaptados aos seus interesses." 
            />

            <i class="ri-arrow-right-s-line"></i>

            <Card 
            icon="ri-share-box-line"
            title="Crie e Compartilhe" 
            description="Construa, projete ou programe seu experimento, depois compartilhe com a comunidade e documente em sua p치gina!" 
            />
        </div>

        <a class="btn-primary" href="#">Saiba Mais 游늮</a>
</section>

<style>
    .how-it-works{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    gap: 32px;

	height: 80vh;
}
.cards{
	display: flex;
	gap: 32px;
    justify-content: center;
    align-items: center;
}
i{
    font-size: 2rem;
    font-weight: 900;
}
</style>